
    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row mt-5">
            <!--Grid column-->
            <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
              <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Register right now! </h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s"></h6>
              
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-md-6 col-xl-5 mb-4">
              <!--Form-->
              <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
                <mdb-card-body>
                  <!--Header-->
                  <div class="text-center">
                    <h3 class="white-text">
                      <mdb-icon fas icon="user" class="white-text"></mdb-icon> Register:</h3>
                    <hr class="hr-light">
                  </div>
                  <!--Body-->
                  <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="form-group">
                        <label for="firstname">Firstname </label>
                        <input type="text" name="firstname" formControlName="firstname" id="firstname" class="form-control">
                        <div *ngIf="firstname.touched && firstname.invalid">
                            <small class="text-danger" *ngIf="firstname.errors.pattern">Invalid Firstname</small>
                            <small class="text-danger" *ngIf="firstname.errors.required">Required Firstname</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Lastname </label>
                        <input type="text" name="lastname" formControlName="lastname" id="lastname" class="form-control">
                        <div *ngIf="lastname.touched && lastname.invalid">
                            <small class="text-danger" *ngIf="lastname.errors.pattern">Invalid Lastname</small>
                            <small class="text-danger" *ngIf="lastname.errors.required">Required Lasstname</small>
                        </div>
                    </div>
                
                
                    <div class="form-group">
                        <label for="phone">Phone </label>
                        <input type="text" name="phone" formControlName="phone" id="phone" class="form-control">
                        <div *ngIf="phone.touched && phone.invalid">
                            <small class="text-danger" *ngIf="phone.errors.minlength">Invalid Phone</small>
                            <small class="text-danger" *ngIf="phone.errors.maxlength">Invalid Phone</small>
                            <small class="text-danger" *ngIf="phone.errors.required">Required Phone</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email </label>
                        <input type="text" name="email" formControlName="email" id="email" class="form-control">
                        <div *ngIf="email.touched && email.invalid">
                            <small class="text-danger" *ngIf="email.errors.email">Invalid Email</small>
                            <small class="text-danger" *ngIf="email.errors.required">Required Email</small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password </label>
                        <input type="password" name="password" formControlName="password" id="password" class="form-control">
                        <div *ngIf="password.touched && password.invalid">
                            <small class="text-danger" *ngIf="password.errors.required">Required password</small>
                            <small class="text-danger" *ngIf="password.errors.minlength">min 8 carac Password</small>
                        </div>
                    </div>
                    
                    <div class="text-center mt-4">
                      <button mdbBtn type="submit" gradient="blue" rounded="true" size="lg" [disabled]="registerForm.invalid" mdbWavesEffect>Sign In</button>
                      <hr class="hr-light mb-3 mt-4">
                    </div>
                </form>
                
                </mdb-card-body>
              </mdb-card>
              <!--/.Form-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
   