    <!-- Full Page Intro -->
    <div class="view" style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <!-- Mask & flexbox options-->
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
          <!--Grid row-->
          <div class="row mt-5">
            <div class="col-md-5 text-left">

              <button mdbBtn type="button" gradient="aqua" rounded="true" size="sm" (click)="test.toggle()" mdbWavesEffect>
                Ajouter</button>
              
              <div mdbCollapse [isCollapsed]="true" #test="bs-collapse">
                <form class="text-center border border-light p-5" [formGroup]="addlist" (ngSubmit)="ajouter()">
              
                  <p class="h4 mb-4">Description</p>
              
                  <div class="form-group">
                      <div class="md-form">
                        <textarea type="text" id="form7" class="md-textarea md-textarea-auto form-control"  formControlName="description" name="description" mdbInput></textarea>
                      </div>                    
                                 
                    </div>
                  <!-- Sign up button -->
                  <button mdbBtn type="submit" gradient="blue" rounded="true" size="sm"  mdbWavesEffect>Ajouter</button>
              
                </form>
                <!-- Default form register -->
              </div>
            <!--Grid column-->
          </div>
            <div class="col-md-12 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
              <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">To do list: </h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <div class="alert alert-warning" *ngIf="tabtodo?.length == 0">Aucun todo! vous pouvez commencer et ajouter un todo </div>

              <table class="table table-striped w-auto  white-text">

                <!--Table head-->
                <thead>
                    <tr>
                        <th>#</th>
                       <!-- <th>ID</th>-->
                        <th>Description</th>
                        <th>Date ajout</th>
                        <th>Action</th>
        
                    </tr>
                </thead>
                <!--Table head-->
            
                <!--Table body-->
                <tbody >
                  <tr class="table-info"  *ngFor=" let todo of tabtodo; let i=index;">
        
                    <th scope="row">{{i+1}}</th>
                   <!-- <td>{{todo._id}}</td>-->
                    <td *ngIf="!affichageinput">{{todo.description}}</td>
                    <td *ngIf="affichageinput && id_todo==todo._id" >
                      <form [formGroup]="modifGroup" (ngSubmit)="modifier(todo)">
                      <div class="md-form">
                      <textarea type="text" [id]="i+1" class="md-textarea md-textarea-auto form-control"  formControlName="modify" name="modify" mdbInput></textarea>
                      </div>                    
                      <!-- Sign up button -->
                      <button mdbBtn type="submit" gradient="blue" rounded="true"  size="sm"  mdbWavesEffect>modifier</button>
                    </form>
                  </td>
                
                    <td>{{todo.dateAjout | date:'medium' }}</td>
                    <td>
                      <button mdbBtn type="button" (click)="doing(todo)" gradient="peach" rounded="true" size="sm" mdbWavesEffect>Doing</button>
                      <button mdbBtn type="button" gradient="aqua" rounded="true" size="sm" (click)="modif(todo)" mdbWavesEffect> modifier</button>
                      <button mdbBtn type="button" gradient="blue" (click)="supprimertodo(todo)" rounded="true" size="sm" mdbWavesEffect>Supprimer</button>
                      </td>
        
        
                    </tr>
                   
                </tbody>
                <!--Table body-->
            
            
            </table>
            </div>
           
            
            <!--Grid column-->
            <div class="col-md-12 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
              <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Doing list: </h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <table class="table table-striped w-auto  white-text">

                <!--Table head-->
                <thead>
                    <tr >
                        <th>#</th>
                       <!-- <th>ID</th>-->
                       <th>Description</th>
                        <th>Date ajout</th>
                        <th>Action</th>
        
                    </tr>
                </thead>
                <!--Table head-->
            
                <!--Table body-->
                <tbody >
                  <tr class="table-info"  *ngFor=" let doing of tabdoing; let i=index;">
        
                    <th scope="row">{{i+1}}</th>
                     <!-- <td>{{doing._id}}</td>-->
                    <td>{{doing.description}}</td>
                    <td>{{doing.dateAjout | date:'medium'}}</td>
                    <td>
                      <td><button mdbBtn type="button" (click)="done(doing)" gradient="peach" rounded="true" size="sm" mdbWavesEffect>Done</button>

                      <button mdbBtn type="button" gradient="blue" (click)="supprimerdoing(doing)" rounded="true" size="sm" mdbWavesEffect>Supprimer</button>
                      </td>

        
                    </tr>
                   
                </tbody>
                <!--Table body-->
            
            
            </table>
            </div>
            <div class="col-md-12 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
              <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Done list: </h1>
              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
              <table class="table table-striped w-auto  white-text">

                <!--Table head-->
                <thead>
                    <tr >
                        <th>#</th>
                       <!-- <th>ID</th>-->
                       <th>Description</th>
                        <th>Date ajout</th>
                        <th>Date fin</th>
                        <th>Action</th>
        
                    </tr>
                </thead>
                <!--Table head-->
            
                <!--Table body-->
                <tbody >
                  <tr class="table-info"  *ngFor=" let done of tabdone; let i=index;">
        
                    <th scope="row">{{i+1}}</th>
                     <!-- <td>{{done._id}}</td>-->
                    <td>{{done.description}}</td>
                    <td>{{done.dateAjout | date:'medium'}}</td>
                    <td>{{done.dateFin | date:'medium'}}</td>
                    <td><button mdbBtn type="button" gradient="blue" (click)="supprimerdone(done)" rounded="true" size="sm" mdbWavesEffect>Supprimer</button>
                      </td>

        
                    </tr>
                   
                </tbody>
                <!--Table body-->
            
            
            </table>
            </div>

          </div>
          <!--Grid row-->
        </div>
        <!-- Content -->
      </div>
      <!-- Mask & flexbox options-->
    </div>
    <!-- Full Page Intro -->
