<!-- Full Page Intro -->
<div class="view" style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
            <h2 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Welcome {{userConnect?.userFromDb?.firstname}} {{userConnect?.userFromDb?.lastname}}! </h2>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s"></h6>
          </div>
          <!--Grid column-->
          <!--Grid column-->
          <div class="col-md-6 col-xl-5 mb-4">
            <!--Form-->
            <mdb-card class="wow fadeInRight" data-wow-delay="0.3s">
              <mdb-card-body>
                <!--Header-->
                <div class="text-center">
                  <h3 class="white-text">
                    <mdb-icon fas icon="user" class="white-text"></mdb-icon> Profil:</h3>
                  <hr class="hr-light">
                </div>
                <!--Body-->

                    <div class="form-group">
                        <label for="firstname">Nom: </label>
                        <p>{{userConnect?.userFromDb?.firstname}}</p>
                    </div>
                    <div class="form-group">
                        <label for="lastname">Prénom: </label>
                        <p>{{userConnect?.userFromDb?.lastname}}</p>
                    </div>
                    <div class="form-group">
                        <label for="phone">Tél: </label>
                        <p>{{userConnect?.userFromDb?.phone}}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Email: </label>
                        <p>{{userConnect?.userFromDb?.email}}</p>
                    </div>
                    <div class="form-group">
                        <label for="email">Mot de passe: </label>
                        <p>{{userConnect?.userFromDb?.password}}</p>
                    </div>
              </mdb-card-body>
            </mdb-card>
            <!--/.Form-->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->