<!-- Full Page Intro -->
<div class="view" style="background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
      <!-- Content -->
      <div class="container">
        <!--Grid row-->
        <div class="row mt-5">
          <!--Grid column-->
          <div class="col-md-12 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
            <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Configuration des utilisateurs: </h1>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s"></h6>
          </div>
          <div class="col-md-12 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
            <table class="table table-striped w-auto  white-text">

                <!--Table head-->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Tél</th>
                        <th>Email</th>
                        <th>Rôle</th>
                        <th>Etat</th>

                    </tr>
                </thead>
                <!--Table head-->
            
                <!--Table body-->
                <tbody>
                  <tr class="table-info" *ngFor="let user of users; let i=index;">
        
                    <td scope="row">{{i+1}}</td>
                    <td>{{user._id}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
                    <td *ngIf="!user.etat"> <button mdbBtn type="button" (click)="changerEtat(user?._id)" gradient="peach" rounded="true" size="sm" mdbWavesEffect>activer</button></td>
                    <td *ngIf="user.etat==true"> <button mdbBtn type="button" gradient="purple" (click)="changerEtat(user?._id)" rounded="true" size="sm" mdbWavesEffect>Désactiver</button></td>
        
        
                    </tr>
                   
                </tbody>
                <!--Table body-->
            
            
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
  </div>
  <!-- Full Page Intro -->