<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <mdb-navbar-brand>
      <a class="logo navbar-brand waves-light" mdbWavesEffect href="#"><strong>YBH</strong></a>
    </mdb-navbar-brand>
    <links>
      <ul class="navbar-nav mr-auto" *ngIf="!(logged())">
        <li class="nav-item  waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="../registre">Register</a>
        </li>
        <li class="nav-item  waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="../login">Login</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="logged() && role=='user'">

      <li class="nav-item  waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="../check">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto" *ngIf="logged() && role=='admin'">

      <li class="nav-item  waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="../config">Configuration</a>
      </li>
    </ul>

        <ul class="navbar-nav mr-right" *ngIf="(logged())">
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink="../profil">Profile</a>
        </li>
        <button type="button" class="btn btn-outline-primary btn-sm"  (click)="loggout()">LogOut</button>

      </ul>
      
    </links>
  </mdb-navbar>